*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ol,ul{
    list-style-type: none;
}
span{
    display: inline-block;
}
body{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.80;
    color: var(--smallText);
}
.container{
    width: 1320px;
    margin: 0 auto;
    border: 1px solid red;
}
:root{
    --background: #FFF5EF;
    --btnColor: #FF6B00;
    --smallText: #606060;
    --bigText: #101010;
}
.dFlex{
    display: flex;
}